<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>HI Action Log</title>
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-light bg-light p-3">
        <a class="navbar-brand ms-3" href="/" style="font-size: 2rem;">HI Action Log</a>
        <a class="d-flex me-3 btn btn-dark" href="https://github.com/holly-inlet/hi-action-log" role="button">Github</a>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>